/* Variables */
:root {
  --primary-text: #000000;
  --secondary-text: #3a4034;
  --accent: #b8c0a0;
  --background: #f5f6f0;
  --background-secondary: #e5e9db;
}

h1 {
/*Box Model*/
  margin-bottom: 10px;
  margin-top: 20px;
/*Typography*/
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: 500;
  color: var(--primary-text);
  text-align: center;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: var(--primary-text);
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  color: var(--secondary-text);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}
p {
  color: var(--secondary-text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 5px;
}

body {
  background-color: var(--background);
  min-height: 1200px;
}
/* ------------------------------- PageHeader ------------------------------- */
.header-section {
/*Display*/
  display: flex;
  align-items: center;
  justify-content: space-between;
/*Box Model*/
  height: 5vh;
  padding-left: 20px;
  padding-right: 20px;
}
.title-box {
}
.nav-box {
}
.react-icons {
/*Box Model*/
  width: 25px;
  height: 25px;
/*Typography*/
  color: var(--primary-text);
}
/* ----------------------------- HomePageContent ---------------------------- */
.heading-section {
/*Display*/
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
/*Positioning*/
  position: relative;
/*Box Model*/
  height: 50vh;
  background-color: #b8c0a0;
/*Miscellaneous*/
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.body-section {
/*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*Box Model*/
  height: 80vh;
  background-color: #f5f6f0;
}
.ways-of-box {
/*Display*/
  display: flex;
  align-items: center;
  justify-content: space-between;
/*Positioning*/
  position: absolute;
  z-index: 1;
/*Box Model*/
  width: 50vw;
  height: 35vh;
  background-color: #0000;
/*Miscellaneous*/
  inset: 48vh 25vw 0%;
}
.inner-ways-of-box {
/*Display*/
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;
/*Box Model*/
width: 45%;
height: 100%;
margin-bottom: 0;
padding: 5px 10px;
background-color: #e5e9db;
border-radius: 5px;
/*Miscellaneous*/
grid-column-gap: 20px;
grid-row-gap: 20px;
box-shadow: 0 2px 5px #0003;
}
.big-icon-box {
}
.big-icon {
/*Display*/
  display: block;
/*Box Model*/
  width: 100px;
  height: 100px;
/*Typography*/
  color: #3a4034;
}
.description-box {
/*Display*/
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /*Box Model*/
  max-width: 250px;
/*Miscellaneous*/
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
/* -------------------------------------------------------------------------- */

/* --------------------------- WaysOfUnderstanding -------------------------- */

/* -------------------------------------------------------------------------- */


/* ------------------------------- PageFooter ------------------------------- */

/* -------------------------------------------------------------------------- */

/* ------------------------------- Media Queries ------------------------------- */
@media screen and (max-width: 991px) {
  .ways-of-box {
    width: 80vw;
    left: 10vw;
  }
}
@media screen and (max-width: 767px) {
  .header-section {
    height: 5vh;
  }
  .heading-section {
    height: 40vh;
  }
  .body-section {
    height: 55vh;    
  }
  .ways-of-box {
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: static;
    inset: auto;
  }
  h1 {
    font-size: 40px;
  }
  .svg-icon {
    width: 50px;
    height: 50px;
  }
  .inner-ways-of-box {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 70%;
    height: 40%;
  }
  h2, h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  body {
    /* min-width: ; */
  }
  p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }
}