/* Variables */
:root {
  --primary-text: #000000;
  --secondary-text: #3B3B3B;
  --accent: #8f9779;
  --background: #f5f5f5;
  --background-secondary: #a7a7a7;
}

.react-icons {
  fill: #a7a7a7;
}

body {

}

/* ------------------------------- PageHeader ------------------------------- */
.header-section {

}
.title-box {

}
.nav-box {

}

.title {
  font-family: 'DM Serif Display', serif;
  /* src: './assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf' format('' truetype''); */
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

/* ----------------------------- HomePageContent ---------------------------- */
.heading-section {

}
.body-section {

}
.ways-of-box {

}
.big-icon-box {

}
/* -------------------------------------------------------------------------- */

/* --------------------------- WaysOfUnderstanding -------------------------- */

/* -------------------------------------------------------------------------- */


/* ------------------------------- PageFooter ------------------------------- */

/* -------------------------------------------------------------------------- */
